doctype html
// head tags guide: htmlhead.dev
head
  // Standard Meta
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
  // Site Properties
  title #{title} - Fortune Cookies
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js')
  link(rel='stylesheet' href=url_for('static', filename='css/style.css'))
  block head
body
  .ui.middle.aligned.center.aligned.grid
    .left.aligned.column
      block content

// vim: set ts=2 sw=2 et:
